In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

############ Scraping League of legends Worlds championship

url = 'https://liquipedia.net/leagueoflegends/S-Tier_Tournaments'
response = requests.get(url)
worldslink = []
if response.ok :
   soup = BeautifulSoup(response.text, 'lxml')
   href = [elt['href'] for elt in soup.findAll('a') if elt.get('href')  ]
   for elt in href :
      if 'World_Championship/' in elt :
         worldslink.append('https://liquipedia.net' + elt)   
del worldslink[0]

with open('url.csv', 'w') as fileurl :
   for links in worldslink : 
      fileurl.write(links + '\n')
with open('teams.csv','w') as file :
   file.write('Year, Team, CashPrize \n')
   with open('url.csv', 'r') as fileurl :
      for row in fileurl :
         url = row.strip()
         response =  requests.get(url)
         if response.ok : 
            soup = BeautifulSoup(response.text, 'lxml')
            ## Year of championship
            year = soup.find('a', {'class': 'mw-selflink selflink'}).text

            position1 = soup.find('tr', {'class' : 'background-color-first-place'}).find('td').text
            position2 = soup.find('tr', {'class' : 'background-color-second-place'}).find('td').text
            position3 = soup.find('tr', {'class' : 'background-color-third-place'}).find('td').text
            
            first = soup.find('tr', {'class' : 'background-color-first-place'}).find('span', {'class': 'team-template-text'}).find('a').text
            # first = position1 + first
            cashprize1 = soup.find('tr', {'class' : 'background-color-first-place'}).find('td').findNext('td').text
            cashprize1 = cashprize1.replace(',',' ')
            cashprize1 = cashprize1.replace('$',' USD ')
            
            second = soup.find('tr', {'class' : 'background-color-second-place'}).find('span', {'class': 'team-template-text'}).find('a').text
            cashprize2 = soup.find('tr', {'class' : 'background-color-second-place'}).find('td').findNext('td').text
            cashprize2 = cashprize2.replace(',',' ')
            cashprize2 = cashprize2.replace('$',' USD ')

            third = soup.find('tr', {'class' : 'background-color-third-place'}).find('span', {'class': 'team-template-text'}).find('a').text
            cashprize3 = soup.find('tr', {'class' : 'background-color-third-place'}).find('td').findNext('td').text  
            cashprize3 = cashprize3.replace(',',' ')
            cashprize3 = cashprize3.replace('$',' USD ')   
   
            
                        
            file.write(year+','+first+','+cashprize1+','+second+','+cashprize2+','+third+','+cashprize3+ '\n')

############## Dataframe
worlds=pd.read_csv('teams.csv')
print(worlds)

C:\Users\33778\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

      Year                   Team      CashPrize
0   2021.0          EDward Gaming     USD 489 500
1      NaN          DAMWON Gaming     USD 333 750
2      NaN          Gen.G Esports     USD 178 000
3   2020.0          DAMWON Gaming     USD 556 250
4      NaN                 Suning     USD 389 375
5      NaN            Top Esports     USD 200 250
6   2019.0        FunPlus Phoenix     USD 834 375
7      NaN             G2 Esports     USD 300 375
8      NaN        Invictus Gaming     USD 155 750
9   2018.0        Invictus Gaming   USD 2 418 750
10     NaN                 Fnatic     USD 870 750
11     NaN             G2 Esports     USD 451 500
12  2017.0         Samsung Galaxy   USD 1 723 722
13     NaN          SK Telecom T1     USD 620 540
14     NaN    Royal Never Give Up     USD 321 761
15  2016.0          SK Telecom T1   USD 2 028 000
16     NaN         Samsung Galaxy     USD 760 500
17     NaN             ROX Tigers     USD 380 250
18  2015.0          SK Telecom T1   USD 1 000 000
19     NaN             KOO Tigers     USD 250 000
20     NaN                 Origen     USD 150 000
21  2014.0          Samsung White   USD 1 000 000
22     NaN   Star Horn Royal Club     USD 250 000
23     NaN           Samsung Blue     USD 150 000
24  2013.0        SK Telecom T1 K   USD 1 000 000
25     NaN             Royal Club     USD 250 000
26     NaN      NaJin Black Sword     USD 150 000
27  2012.0       Taipei Assassins   USD 1 000 000
28     NaN            Azubu Frost     USD 250 000
29     NaN            Moscow Five     USD 150 000
30  2011.0                 Fnatic      USD 50 000
31     NaN  against All authority      USD 25 000
32     NaN           Team SoloMid      USD 10 000

In [2]:
worlds

      Year                   Team      CashPrize
0   2021.0          EDward Gaming     USD 489 500
1      NaN          DAMWON Gaming     USD 333 750
2      NaN          Gen.G Esports     USD 178 000
3   2020.0          DAMWON Gaming     USD 556 250
4      NaN                 Suning     USD 389 375
5      NaN            Top Esports     USD 200 250
6   2019.0        FunPlus Phoenix     USD 834 375
7      NaN             G2 Esports     USD 300 375
8      NaN        Invictus Gaming     USD 155 750
9   2018.0        Invictus Gaming   USD 2 418 750
10     NaN                 Fnatic     USD 870 750
11     NaN             G2 Esports     USD 451 500
12  2017.0         Samsung Galaxy   USD 1 723 722
13     NaN          SK Telecom T1     USD 620 540
14     NaN    Royal Never Give Up     USD 321 761
15  2016.0          SK Telecom T1   USD 2 028 000
16     NaN         Samsung Galaxy     USD 760 500
17     NaN             ROX Tigers     USD 380 250
18  2015.0          SK Telecom T1   USD 1 000 000
19     NaN             KOO Tigers     USD 250 000
20     NaN                 Origen     USD 150 000
21  2014.0          Samsung White   USD 1 000 000
22     NaN   Star Horn Royal Club     USD 250 000
23     NaN           Samsung Blue     USD 150 000
24  2013.0        SK Telecom T1 K   USD 1 000 000
25     NaN             Royal Club     USD 250 000
26     NaN      NaJin Black Sword     USD 150 000
27  2012.0       Taipei Assassins   USD 1 000 000
28     NaN            Azubu Frost     USD 250 000
29     NaN            Moscow Five     USD 150 000
30  2011.0                 Fnatic      USD 50 000
31     NaN  against All authority      USD 25 000
32     NaN           Team SoloMid      USD 10 000